.viui-group.viui-group {
	display: flex;
	padding: 8px;
	&.-horizontal  {
		flex-direction: row;
	}
	&.-vertical {
		flex-direction: column;
	}
	& > .viui-field {
		padding: 0;
	}
}
// button modifiers
.viui-group {
	&.-horizontal  {
		& > .viui-field {
			& .-button {
				border-radius: 0;
				border-right-width: 1px;
				border-left-width: 1px;
			}
		}
		& > .viui-field:first-child {
			& .-button {
				border-right-width: 2px;
				border-radius: 20px 0 0 20px;
			}
		}
		& > .viui-field:last-child {
			& .-button {
				border-right-width: 2px;
				border-radius: 0 20px 20px 0;
			}
		}
	}
	&.-vertical  {
		& > .viui-field {
			& .-button {
				border-radius: 0;
				border-top-width: 1px;
				border-bottom-width: 1px;
			}
		}
		& > .viui-field:first-child {
			& .-button {
				border-top-width: 2px;
				border-radius: 20px 20px 0 0;
			}
		}
		& > .viui-field:last-child {
			& .-button {
				border-bottom-width: 2px;
				border-radius: 0 0 20px 20px;
			}
		}
	}
}
// textbox modifiers
.viui-group {
	&.-horizontal  {
		& > .viui-field {
			& .viui-field__input {
				border-radius: 0;
				border-right-width: 1px;
				border-left-width: 1px;
			}
		}
		& > .viui-field:first-child {
			& .viui-field__input {
				border-right-width: 2px;
				border-radius: 24px 0 0 24px;
			}
		}
		& > .viui-field:last-child {
			& .viui-field__input {
				border-right-width: 2px;
				border-radius: 0 24px 24px 0;
			}
		}
	}
	&.-vertical  {
		& > .viui-field {
			& .viui-field__input {
				border-radius: 0;
				border-top-width: 1px;
				border-bottom-width: 1px;
			}
		}
		& > .viui-field:first-child {
			& .viui-field__input {
				border-top-width: 2px;
				border-radius: 24px 24px 0 0;
			}
		}
		& > .viui-field:last-child {
			& .viui-field__input {
				border-bottom-width: 2px;
				border-radius: 0 0 24px 24px;
			}
		}
	}
}

// * {
// 	background-color: #333;
// }