@import "../../color.scss";

// reset numbers
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.viui-textbox.viui-field {
	& > .viui-field__input {
		border: 2px solid rgba($primary-fg, 0.1);
		border-radius: 24px;
		background-color: transparent;
		transition: background-color 150ms linear, border-color 150ms linear;
		will-change: background-color, border-color;
		$padding-left: 20px;
		& > .-children {
			& > .-input, & > .-label {
				margin: 0;
				padding: 12px $padding-left;
				height: 44px;
				display: block;
				font-size: 16px;
				line-height: 20px;
			}
			& > .-input {
				width: 100%;
				border-radius: 48px;
				box-sizing: border-box;
				border: none;
				background-color: transparent;
				border-radius: 0;
			}
			& > .-label {
				padding-left: 0;
				left: $padding-left;
				position: absolute;
				touch-action: none;
				pointer-events: none;
				opacity: 0.7;
				transform: translateY(0) scale(1);
				transition: opacity 150ms linear, transform 150ms linear;
				transform-origin: left bottom;
				will-change: opacity, transform;
			}
		}
	}
	// focus and filled
	&.-focus  > .viui-field__input {
		// background-color: #FFF;
		border-color: $primary-accent-bg;
		& > .-children {
			& > .-input {
	
			}
			& > .-label {
			}
		}
	}

	// focus and filled
	&.-focus  > .viui-field__input,
	&.-filled > .viui-field__input {
		& > .-children {
			& > .-input {
	
			}
			& > .-label {
				transform: translateY(-14px) scale(0.9);
				opacity: 0.2;
			}
		}
	}

	// labeled
	&.-labeled.-focus  > .viui-field__input,
	&.-labeled.-filled > .viui-field__input {
		& > .-children {
			& > .-input {
				padding-top: 22px;
				padding-bottom: 6px;
			}
		}
	}
}



